@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>
    <table class="table">
        <thead>
        <tr>
            <th>Snack</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var i in Model.Snacks)
        {
            <tr>
                <td><a asp-page="./Details" asp-route-id="@i.Id">@i.Name</a></td>
                <td>@i.Price</td>
            </tr>
        }

        </tbody>
    </table>
</div>